@font-face {
    font-family: 'Josefin Sans';
    src: url('../../Assets/Fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

.appContainer {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 0, 0, .07);
    position: absolute;

    color: rgb(163, 182, 212);
    font-family: 'Josefin Sans';
}